@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&family=Shizuru&display=swap');

:root{
    --main-bg-color: black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}
header{
   
background-color: var(--main-bg-color);
columns: white;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    }

    .logo img{
        width: 139px;
        padding: 0 1px;
    }
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}
nav ul li{
    list-style: none;
    padding: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;

}
nav ul li a:hover{
    color: red;
    font-weight: bold;
}

.search{  
    display: flex;
    align-items: center;
}

.search input{
    width: 40vw;
height: 25px;
border-radius: 10px 100px / 120px;
margin: 0px 13px 0 56px;
}

.slider{
    width: 88vw;
margin: 12px auto;
overflow: hidden;
}

.slider img{
    width: 1344px;
    height: 370px;
    
}


.container{
    min-height: calc(100vh - 58px - 10vh);
} 

.card{
    background-color: black;
    color: white;
    border: 2px solid black;   
    max-width: 80vw;
    margin: auto;
    font-family: 'Akaya Telivigala', cursive;

}

.cards{
    display: flex;  
    flex-direction: row;
   justify-content: center;
   overflow: scroll;
}

.card h2{
    
    /* font-family: 'Shizuru', cursive; */
    font-family: 'Redressed', cursive;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    
}

/* .card-item img:hover{
    width: 166;
    height: auto;

} */



footer{
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
}
