@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

:root{
    --main-bg-color: black;
}

*{
    margin: 0;
    padding: 0;
}

header{
   
background-color: var(--main-bg-color);
columns: white;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    }

    .logo img{
        width: 139px;
        padding: 0 1px;
    }
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}
nav ul li{
    list-style: none;
    padding: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;

}
nav ul li a:hover{
    color: red;
    font-weight: bold;
}

.search{  
    display: flex;
    align-items: center;
}

.search input{
    width: 513px;
height: 25px;
border-radius: 10px 100px / 120px;
margin: 0px 13px 0 56px;
}

.slider{
    width: 88vw;
margin: 12px auto;
}

.slider img{
    width: 1344px;
    height: 370px;
    
}


.container{
    min-height: calc(100vh - 58px - 10vh);
} 

.card{
    background-color: aqua;
   
    max-width: 90vw;

}
.card h2{
    font-family: 'Shizuru', cursive;
}

footer{
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
}
